---
import { Image } from "astro:assets";

interface Props {
  label: string;
  forLabel: string;
  icon: ImageMetadata;
  initialRequired?: boolean;
}

const { forLabel, label, icon, initialRequired = false } = Astro.props;
---

<section class="w-full p-4 flex flex-col gap-4">
  <div class="w-full flex items-center justify-start gap-4">
    <div class="w-1/12">
      <Image src={icon} alt={`${label} icon`} class="w-20" />
    </div>
    <label for={forLabel}>
      <span class="tracking-widest">{label}</span>
      <span class="text-red-500" hidden={!initialRequired}>*</span>
    </label>
  </div>
  <slot />
</section>
