.progress-ring__circle {
  transition: stroke-dashoffset 0.5s ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.animate-coin {
  animation: rotation 2500ms infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(0deg);
  }
}