---
import Button from "@components/Button.astro";
---

<div class="bg-theme-light-card rounded-[20px] w-full">
  <div class="flex justify-between px-4 pt-4 mb-2 items-center">
    <p class="text-theme-primary text-2xl font-semibold">Enfriamineto</p>
    <Button variant="transparent">
      <svg
        width="39"
        height="39"
        viewBox="0 0 39 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_355_85)">
          <path
            d="M19.5 39C30.2696 39 39 30.2696 39 19.5C39 8.73045 30.2696 0 19.5 0C8.73045 0 0 8.73045 0 19.5C0 30.2696 8.73045 39 19.5 39Z"
            fill="#9600FA"></path>
          <path
            d="M29.1048 9.54782C29.0012 9.44121 28.8633 9.37471 28.7154 9.35991C28.5674 9.34512 28.419 9.38301 28.2964 9.46699C22.2814 13.7276 18.2472 18.1256 15.2883 23.6716C15.1185 23.4776 14.9487 23.2674 14.779 23.0572C13.728 21.7475 12.5395 20.268 10.9873 20.2114C10.4303 20.2411 9.88656 20.3917 9.39371 20.6528C8.90087 20.9138 8.4708 21.2791 8.13343 21.7232L7.88281 21.9819L8.15769 22.2245C10.5514 24.4041 12.6618 26.8758 14.4394 29.5814C14.5755 29.7613 14.7534 29.9053 14.9577 30.001C15.1619 30.0968 15.3863 30.1415 15.6117 30.1312C15.6869 30.1392 15.7628 30.1392 15.838 30.1312C16.0883 30.1078 16.3286 30.0214 16.5364 29.8801C16.7442 29.7387 16.9128 29.5469 17.0265 29.3228C20.5786 22.7131 24.6328 16.3859 29.1533 10.3967C29.2526 10.2747 29.3026 10.12 29.2937 9.9629C29.2847 9.80585 29.2173 9.65777 29.1048 9.54782Z"
            fill="#FFDC00"></path>
        </g>
        <defs>
          <clipPath id="clip0_355_85">
            <rect width="39" height="39" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </Button>
  </div>
  <div class="flex items-center px-4 gap-2">
    <div class="w-3/12 flex justify-center items-center">
      <svg
        width="40"
        height="90"
        viewBox="0 0 40 90"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <svg
          width="40"
          height="90"
          viewBox="0 0 40 90"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_355_419)">
            <path
              d="M9.2374 26.6859C10.3963 27.5028 11.7779 27.9408 13.1938 27.9402C13.6042 27.9417 14.0139 27.9052 14.4176 27.8309C16.228 27.5065 17.8365 26.4746 18.8908 24.9613C19.945 23.4481 20.3591 21.5769 20.0421 19.7576C19.8438 18.6282 19.371 17.5655 18.6658 16.6635C17.9605 15.7615 17.0445 15.0482 15.9991 14.5868C14.9536 14.1255 13.8109 13.9304 12.6724 14.0188C11.5338 14.1071 10.4346 14.4761 9.47211 15.0933C8.50962 15.7104 7.71363 16.5566 7.15472 17.5567C6.59581 18.5568 6.29125 19.68 6.26804 20.8266C6.24482 21.9732 6.50367 23.1079 7.02164 24.13C7.53961 25.1521 8.30069 26.0299 9.2374 26.6859Z"
              fill="#9600FA"></path>
            <path
              d="M39.8241 84.848L30.3102 55.5354C30.1963 55.1885 30.1067 54.8341 30.042 54.4747C28.4217 44.8114 27.8818 34.9964 28.4326 25.2127C28.8182 17.0048 26.1778 10.3291 20.6204 5.4044L15.4904 0.867025C15.1355 0.556463 14.7213 0.321595 14.2732 0.176872C13.825 0.0321495 13.3522 -0.0194017 12.8836 0.0251949C12.4142 0.0685338 11.9588 0.209167 11.5462 0.438094C11.1336 0.667022 10.7727 0.979341 10.4862 1.35535C9.95544 2.06782 9.71385 2.95602 9.81033 3.84056C9.9068 4.72509 10.3342 5.53987 11.0059 6.12003L16.8735 11.3141C19.679 13.7878 21.4189 17.2585 21.7268 20.9951C21.9951 24.2277 21.8693 26.6186 21.6011 27.1995C21.2572 27.3112 20.898 27.368 20.5365 27.3678C17.2423 27.452 14.3085 27.6792 11.6849 29.6323C10.3624 30.699 9.19437 31.9458 8.21466 33.3365C7.77879 33.9005 7.31776 34.4898 6.85674 35.0201C6.08557 35.8619 5.30603 36.7794 4.52648 37.6634C3.57091 38.7409 2.61534 39.8185 1.72682 40.8539C1.14674 41.4088 0.695015 42.0848 0.403526 42.8342C0.112036 43.5836 -0.0121147 44.3881 0.0398471 45.1909C0.0918088 45.9938 0.318611 46.7755 0.704244 47.4807C1.08988 48.1859 1.62494 48.7974 2.27166 49.2722L6.99924 52.7573C7.59437 53.1951 8.21466 53.5992 8.83495 54.0369C10.2254 54.908 11.5207 55.9239 12.6992 57.0676C12.6992 57.0676 12.6992 57.1432 12.6992 57.1769C12.6992 57.2106 12.6992 57.3116 12.6321 57.3789L11.7939 60.1067C11.4334 61.2852 11.0562 62.4806 10.6958 63.6507C10.218 65.1408 9.74861 66.6307 9.27083 68.1291L3.91458 84.8395C3.74992 85.3212 3.68433 85.8315 3.72179 86.3394C3.75925 86.8474 3.89898 87.3423 4.13252 87.7944C4.38004 88.2791 4.7232 88.7081 5.1411 89.0555C5.559 89.4028 6.04291 89.6611 6.56336 89.8147C7.57887 90.1385 8.67957 90.0567 9.63656 89.5863C10.5936 89.116 11.3332 88.2932 11.7017 87.2892L20.9221 60.073C20.9774 59.897 21.0805 59.74 21.2196 59.6196C21.3588 59.4991 21.5286 59.42 21.7101 59.391C21.9501 59.3456 22.1985 59.3886 22.4095 59.5123C22.6205 59.636 22.7799 59.8322 22.8584 60.0645L32.0789 87.2892C32.3664 88.0932 32.8964 88.7872 33.595 89.2745C34.2936 89.7619 35.1261 90.0183 35.9766 90.0083C36.397 90.0086 36.8151 89.9462 37.2172 89.8231C37.7376 89.6695 38.2215 89.4112 38.6394 89.0639C39.0573 88.7165 39.4005 88.2875 39.648 87.8028C39.8733 87.3473 40.0051 86.851 40.0353 86.3434C40.0656 85.8357 39.9937 85.3271 39.8241 84.848ZM7.97158 44.2802C7.93477 44.2494 7.90518 44.2106 7.8849 44.167C7.86462 44.1233 7.85415 44.0758 7.85423 44.0276C7.85024 43.9806 7.85726 43.9332 7.87472 43.8893C7.89219 43.8455 7.91962 43.8064 7.95482 43.7751L11.467 40.6013L12.5147 47.8412L7.97158 44.2802Z"
              fill="#9600FA"></path>
          </g>
          <defs>
            <clipPath id="clip0_355_419">
              <rect width="40" height="90" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </svg>
    </div>
    <p class="w-7/12 font-normal space-0.5">
      Usa la máquina elíptica u otro aparato del área de cardio.
    </p>
  </div>
  <div class="flex items-center justify-end px-4 h-fit -translate-y-5">
    <p
      class="flex bg-theme-primary px-2 py-1 text-theme-text-light w-fit rounded-md text-xs gap-1 items-center"
    >
      <svg
        width="10"
        height="12"
        viewBox="0 0 10 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_355_96)">
          <path
            d="M2.15137 10.7196H7.79441V10.3325C7.79441 9.27248 6.38814 9.73703 5.50472 9.02834L5.19825 8.78415C5.13477 8.73237 5.05511 8.70404 4.97289 8.70404C4.89067 8.70404 4.811 8.73237 4.74753 8.78415L4.43501 9.03423C3.5516 9.74292 2.15137 9.27248 2.15137 10.3325V10.7196Z"
            fill="white"></path>
          <path
            d="M7.34953 3.26351C6.85576 4.02347 6.24779 4.70427 5.54664 5.28237L5.17405 5.5861C5.12817 5.6204 5.07228 5.63895 5.01481 5.63895C4.95733 5.63895 4.90142 5.6204 4.85554 5.5861L4.48295 5.28237C3.7169 4.66153 3.06259 3.91644 2.54785 3.07886C3.35737 2.83238 4.23009 2.88962 4.99977 3.23966C5.76079 3.49355 6.58343 3.50191 7.34953 3.26351Z"
            fill="white"></path>
          <path
            d="M9.63946 11.3033H9.11061V10.0288C9.11061 8.37324 7.39188 6.6581 6.66471 6.00301C7.39188 5.34793 9.11061 3.62087 9.11061 1.9772V0.70275H9.63946C9.68625 0.703556 9.73273 0.695042 9.77611 0.677669C9.8195 0.660297 9.85891 0.634418 9.892 0.601628C9.92509 0.568839 9.95117 0.529834 9.9687 0.48684C9.98623 0.443846 9.99484 0.39777 9.99403 0.351405C9.99403 0.258218 9.95668 0.168821 9.89019 0.102927C9.82369 0.0370336 9.7335 6.10352e-05 9.63946 6.10352e-05H0.348601C0.25561 0.00162315 0.166965 0.0393103 0.101765 0.105035C0.0365649 0.170761 3.85108e-05 0.25924 5.18707e-05 0.351405C-0.000746119 0.397264 0.00767002 0.442862 0.0248291 0.485459C0.0419881 0.528055 0.0675396 0.566813 0.0999859 0.59952C0.132432 0.632228 0.171118 0.658195 0.213803 0.675925C0.256489 0.693654 0.302318 0.702757 0.348601 0.70275H0.883466V1.99508C0.883466 3.64471 2.6022 5.36581 3.32937 6.0209C2.6022 6.67598 0.883466 8.40304 0.883466 10.0467V11.3212H0.348601C0.263272 11.3322 0.184918 11.3737 0.128156 11.4378C0.0713935 11.5019 0.0400879 11.5842 0.0400879 11.6695C0.0400879 11.7548 0.0713935 11.8372 0.128156 11.9013C0.184918 11.9654 0.263272 12.0068 0.348601 12.0179H9.63946C9.68949 12.0244 9.74035 12.0203 9.78862 12.0057C9.83689 11.9912 9.88148 11.9666 9.9194 11.9336C9.95732 11.9007 9.9877 11.86 10.0085 11.8145C10.0293 11.7689 10.0401 11.7195 10.0401 11.6695C10.0401 11.6195 10.0293 11.5701 10.0085 11.5246C9.9877 11.479 9.95732 11.4384 9.9194 11.4054C9.88148 11.3724 9.83689 11.3479 9.78862 11.3334C9.74035 11.3188 9.68949 11.3147 9.63946 11.3212V11.3033ZM8.40148 11.3033H1.5926V10.0288C1.5926 8.30773 4.06856 6.2948 4.0926 6.27694C4.13359 6.2437 4.16667 6.20193 4.18952 6.15459C4.21238 6.10724 4.22443 6.05549 4.22481 6.00301C4.22529 5.95039 4.21361 5.89834 4.1907 5.85086C4.16778 5.80338 4.13424 5.76175 4.0926 5.72909C4.0926 5.72909 1.5926 3.69829 1.5926 1.9772V0.70275H8.40148V1.99508C8.40148 3.71618 5.92552 5.72911 5.90148 5.74697C5.85984 5.77964 5.82629 5.82126 5.80338 5.86874C5.78047 5.91622 5.76879 5.96827 5.76927 6.0209C5.76965 6.07338 5.7817 6.12512 5.80455 6.17247C5.8274 6.21982 5.86049 6.26158 5.90148 6.29482C5.90148 6.29482 8.40148 8.32562 8.40148 10.0467V11.3033Z"
            fill="white"></path>
          <path
            d="M5.00038 6.62231C5.15969 6.62231 5.28884 6.49433 5.28884 6.33645C5.28884 6.17858 5.15969 6.0506 5.00038 6.0506C4.84106 6.0506 4.71191 6.17858 4.71191 6.33645C4.71191 6.49433 4.84106 6.62231 5.00038 6.62231Z"
            fill="white"></path>
          <path
            d="M5.00038 7.46801C5.15969 7.46801 5.28884 7.34003 5.28884 7.18216C5.28884 7.02428 5.15969 6.8963 5.00038 6.8963C4.84106 6.8963 4.71191 7.02428 4.71191 7.18216C4.71191 7.34003 4.84106 7.46801 5.00038 7.46801Z"
            fill="white"></path>
          <path
            d="M5.00038 8.31366C5.15969 8.31366 5.28884 8.18567 5.28884 8.0278C5.28884 7.86993 5.15969 7.74194 5.00038 7.74194C4.84106 7.74194 4.71191 7.86993 4.71191 8.0278C4.71191 8.18567 4.84106 8.31366 5.00038 8.31366Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_355_96">
            <rect width="10" height="12" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      5 min
    </p>
  </div>
</div>
