---
import Button from "@components/Button.astro";
import { CheckButtonWithState } from "@components/react/CheckButton";

interface Props {
  dayId: number;
  id: string;
  leyend: string;
}
const { dayId, id, leyend } = Astro.props;
---

<div class="bg-theme-light-card rounded-[20px] w-full">
  <div class="flex justify-between px-4 pt-4 mb-2 items-center">
    <p class="text-theme-primary text-2xl font-semibold">Calentamiento</p>
    <CheckButtonWithState client:only="react" id={id || ""} dayId={dayId} />
  </div>
  <div class="flex items-center px-4 gap-2">
    <div class="w-3/12 flex justify-center items-center">
      <svg
        width="44"
        height="99"
        viewBox="0 0 44 99"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_355_91)">
          <path
            d="M29.3068 16.9822C29.9801 12.8159 27.1485 8.89253 22.9822 8.21919C18.8159 7.54584 14.8925 10.3775 14.2192 14.5438C13.5459 18.7101 16.3775 22.6334 20.5438 23.3068C24.7101 23.9801 28.6334 21.1485 29.3068 16.9822Z"
            fill="#9600FA"></path>
          <path
            d="M7.98996 58.8101V93.53C7.98996 94.1573 8.11367 94.7784 8.35401 95.3578C8.59435 95.9372 8.9466 96.4634 9.3906 96.9065C9.83459 97.3496 10.3616 97.7007 10.9415 97.9398C11.5214 98.1789 12.1427 98.3014 12.77 98.3C13.3972 98.3014 14.0186 98.1789 14.5984 97.9398C15.1783 97.7007 15.7053 97.3496 16.1493 96.9065C16.5933 96.4634 16.9456 95.9372 17.1859 95.3578C17.4263 94.7784 17.55 94.1573 17.55 93.53V62.8601C17.55 61.7992 17.9714 60.7818 18.7215 60.0316C19.4717 59.2815 20.4891 58.8601 21.55 58.8601C22.6108 58.8601 23.6282 59.2815 24.3784 60.0316C25.1285 60.7818 25.55 61.7992 25.55 62.8601V93.53C25.55 94.1573 25.6737 94.7784 25.914 95.3578C26.1544 95.9372 26.5066 96.4634 26.9506 96.9065C27.3946 97.3496 27.9216 97.7007 28.5015 97.9398C29.0814 98.1789 29.7027 98.3014 30.33 98.3C30.9572 98.3014 31.5786 98.1789 32.1584 97.9398C32.7383 97.7007 33.2653 97.3496 33.7093 96.9065C34.1533 96.4634 34.5056 95.9372 34.7459 95.3578C34.9863 94.7784 35.11 94.1573 35.11 93.53V36.8501C35.1079 34.4361 35.4997 32.0378 36.27 29.75L42.78 6.27001C43.1705 5.07637 43.0745 3.77687 42.5129 2.65356C41.9512 1.53025 40.9692 0.673777 39.78 0.270011C39.1851 0.068898 38.5564 -0.0130147 37.9299 0.0289226C37.3033 0.0708598 36.6912 0.23592 36.1284 0.514518C35.5656 0.793117 35.0633 1.17976 34.65 1.65258C34.2368 2.12539 33.9207 2.67502 33.72 3.27001L27.16 26.91C26.9286 27.5887 26.491 28.1781 25.9083 28.5958C25.3256 29.0136 24.6269 29.2389 23.91 29.2401H19.03C18.314 29.2398 17.6162 29.0147 17.0349 28.5967C16.4536 28.1786 16.0182 27.5887 15.79 26.91L9.21996 3.27001C9.0192 2.67502 8.70317 2.12539 8.28992 1.65258C7.87667 1.17976 7.37431 0.793117 6.81154 0.514518C6.24877 0.23592 5.63663 0.0708598 5.01007 0.0289226C4.38352 -0.0130147 3.75484 0.068898 3.15996 0.270011C1.96914 0.671557 0.985445 1.5277 0.423434 2.65173C-0.138577 3.77575 -0.233293 5.07643 0.15996 6.27001L6.71997 29.91C7.49807 32.1996 7.89337 34.6018 7.88996 37.02V59.8301"
            fill="#9600FA"></path>
        </g>
        <defs>
          <clipPath id="clip0_355_91">
            <rect width="43.12" height="98.34" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <p class="w-7/12 font-normal space-0.5">{leyend}</p>
  </div>
  <div class="flex items-center justify-end px-4 h-fit -translate-y-5">
    <p
      class="flex bg-theme-primary px-2 py-1 text-theme-text-light w-fit rounded-md text-xs gap-1 items-center"
    >
      <svg
        width="10"
        height="12"
        viewBox="0 0 10 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_355_96)">
          <path
            d="M2.15137 10.7196H7.79441V10.3325C7.79441 9.27248 6.38814 9.73703 5.50472 9.02834L5.19825 8.78415C5.13477 8.73237 5.05511 8.70404 4.97289 8.70404C4.89067 8.70404 4.811 8.73237 4.74753 8.78415L4.43501 9.03423C3.5516 9.74292 2.15137 9.27248 2.15137 10.3325V10.7196Z"
            fill="white"></path>
          <path
            d="M7.34953 3.26351C6.85576 4.02347 6.24779 4.70427 5.54664 5.28237L5.17405 5.5861C5.12817 5.6204 5.07228 5.63895 5.01481 5.63895C4.95733 5.63895 4.90142 5.6204 4.85554 5.5861L4.48295 5.28237C3.7169 4.66153 3.06259 3.91644 2.54785 3.07886C3.35737 2.83238 4.23009 2.88962 4.99977 3.23966C5.76079 3.49355 6.58343 3.50191 7.34953 3.26351Z"
            fill="white"></path>
          <path
            d="M9.63946 11.3033H9.11061V10.0288C9.11061 8.37324 7.39188 6.6581 6.66471 6.00301C7.39188 5.34793 9.11061 3.62087 9.11061 1.9772V0.70275H9.63946C9.68625 0.703556 9.73273 0.695042 9.77611 0.677669C9.8195 0.660297 9.85891 0.634418 9.892 0.601628C9.92509 0.568839 9.95117 0.529834 9.9687 0.48684C9.98623 0.443846 9.99484 0.39777 9.99403 0.351405C9.99403 0.258218 9.95668 0.168821 9.89019 0.102927C9.82369 0.0370336 9.7335 6.10352e-05 9.63946 6.10352e-05H0.348601C0.25561 0.00162315 0.166965 0.0393103 0.101765 0.105035C0.0365649 0.170761 3.85108e-05 0.25924 5.18707e-05 0.351405C-0.000746119 0.397264 0.00767002 0.442862 0.0248291 0.485459C0.0419881 0.528055 0.0675396 0.566813 0.0999859 0.59952C0.132432 0.632228 0.171118 0.658195 0.213803 0.675925C0.256489 0.693654 0.302318 0.702757 0.348601 0.70275H0.883466V1.99508C0.883466 3.64471 2.6022 5.36581 3.32937 6.0209C2.6022 6.67598 0.883466 8.40304 0.883466 10.0467V11.3212H0.348601C0.263272 11.3322 0.184918 11.3737 0.128156 11.4378C0.0713935 11.5019 0.0400879 11.5842 0.0400879 11.6695C0.0400879 11.7548 0.0713935 11.8372 0.128156 11.9013C0.184918 11.9654 0.263272 12.0068 0.348601 12.0179H9.63946C9.68949 12.0244 9.74035 12.0203 9.78862 12.0057C9.83689 11.9912 9.88148 11.9666 9.9194 11.9336C9.95732 11.9007 9.9877 11.86 10.0085 11.8145C10.0293 11.7689 10.0401 11.7195 10.0401 11.6695C10.0401 11.6195 10.0293 11.5701 10.0085 11.5246C9.9877 11.479 9.95732 11.4384 9.9194 11.4054C9.88148 11.3724 9.83689 11.3479 9.78862 11.3334C9.74035 11.3188 9.68949 11.3147 9.63946 11.3212V11.3033ZM8.40148 11.3033H1.5926V10.0288C1.5926 8.30773 4.06856 6.2948 4.0926 6.27694C4.13359 6.2437 4.16667 6.20193 4.18952 6.15459C4.21238 6.10724 4.22443 6.05549 4.22481 6.00301C4.22529 5.95039 4.21361 5.89834 4.1907 5.85086C4.16778 5.80338 4.13424 5.76175 4.0926 5.72909C4.0926 5.72909 1.5926 3.69829 1.5926 1.9772V0.70275H8.40148V1.99508C8.40148 3.71618 5.92552 5.72911 5.90148 5.74697C5.85984 5.77964 5.82629 5.82126 5.80338 5.86874C5.78047 5.91622 5.76879 5.96827 5.76927 6.0209C5.76965 6.07338 5.7817 6.12512 5.80455 6.17247C5.8274 6.21982 5.86049 6.26158 5.90148 6.29482C5.90148 6.29482 8.40148 8.32562 8.40148 10.0467V11.3033Z"
            fill="white"></path>
          <path
            d="M5.00038 6.62231C5.15969 6.62231 5.28884 6.49433 5.28884 6.33645C5.28884 6.17858 5.15969 6.0506 5.00038 6.0506C4.84106 6.0506 4.71191 6.17858 4.71191 6.33645C4.71191 6.49433 4.84106 6.62231 5.00038 6.62231Z"
            fill="white"></path>
          <path
            d="M5.00038 7.46801C5.15969 7.46801 5.28884 7.34003 5.28884 7.18216C5.28884 7.02428 5.15969 6.8963 5.00038 6.8963C4.84106 6.8963 4.71191 7.02428 4.71191 7.18216C4.71191 7.34003 4.84106 7.46801 5.00038 7.46801Z"
            fill="white"></path>
          <path
            d="M5.00038 8.31366C5.15969 8.31366 5.28884 8.18567 5.28884 8.0278C5.28884 7.86993 5.15969 7.74194 5.00038 7.74194C4.84106 7.74194 4.71191 7.86993 4.71191 8.0278C4.71191 8.18567 4.84106 8.31366 5.00038 8.31366Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_355_96">
            <rect width="10" height="12" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      5 min
    </p>
  </div>
</div>
