---
import DivitionsDots from "@components/DivitionsDots.astro";
import CardioCard from "@components/ExerciseCards/CardioCard.astro";
import ClassCard from "@components/ExerciseCards/ClassCard.astro";
import ExpandableCardDay from "@components/expandibleCompose/ExpandableCardDay.astro";
import ProgressRoutine from "@components/ProgressRoutine.astro";
import type { Day } from "@interfaces/routines";

interface Props {
  day: Day;
}

const { day } = Astro.props;

const cardioExercise = day.exercises.find((it) => it.zone === "Cardio");
const classPF = day.exercises.find((it) => it.zone === "PE@PF");
---

<ExpandableCardDay day={day.id} id={`${day.id}`} title="CARDIO Y CLASE">
  <div
    class="flex flex-col gap-8 items-center bg-white px-3 py-8 rounded-b-2xl"
  >
    <ProgressRoutine />
    <CardioCard {...cardioExercise} />
    <DivitionsDots length={15} />
    <ClassCard {...classPF} />
  </div>
</ExpandableCardDay>
