---
import Button from "./Button.astro";
---

<Button variant="transparent">
  <svg
    width="39"
    height="39"
    viewBox="0 0 39 39"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_355_85)">
      <path
        d="M19.5 39C30.2696 39 39 30.2696 39 19.5C39 8.73045 30.2696 0 19.5 0C8.73045 0 0 8.73045 0 19.5C0 30.2696 8.73045 39 19.5 39Z"
        fill="#9600FA"></path>
      <path
        d="M29.1048 9.54782C29.0012 9.44121 28.8633 9.37471 28.7154 9.35991C28.5674 9.34512 28.419 9.38301 28.2964 9.46699C22.2814 13.7276 18.2472 18.1256 15.2883 23.6716C15.1185 23.4776 14.9487 23.2674 14.779 23.0572C13.728 21.7475 12.5395 20.268 10.9873 20.2114C10.4303 20.2411 9.88656 20.3917 9.39371 20.6528C8.90087 20.9138 8.4708 21.2791 8.13343 21.7232L7.88281 21.9819L8.15769 22.2245C10.5514 24.4041 12.6618 26.8758 14.4394 29.5814C14.5755 29.7613 14.7534 29.9053 14.9577 30.001C15.1619 30.0968 15.3863 30.1415 15.6117 30.1312C15.6869 30.1392 15.7628 30.1392 15.838 30.1312C16.0883 30.1078 16.3286 30.0214 16.5364 29.8801C16.7442 29.7387 16.9128 29.5469 17.0265 29.3228C20.5786 22.7131 24.6328 16.3859 29.1533 10.3967C29.2526 10.2747 29.3026 10.12 29.2937 9.9629C29.2847 9.80585 29.2173 9.65777 29.1048 9.54782Z"
        fill="#FFDC00"></path>
    </g>
    <defs>
      <clipPath id="clip0_355_85">
        <rect width="39" height="39" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</Button>
