---
interface Props {
  name: string;
}
const { name } = Astro.props;
---

<p
  class="bg-theme-accent rounded-sm text-xs px-1 my-0.5 px-2 font-semibol text-center text-theme-primary"
>
  {name}
</p>
