---
interface Props {
  name: string;
  withLetter?: boolean;
}
const { name, withLetter = false } = Astro.props;
---

<p
  class="bg-theme-accent text-xs font-semibold text-center text-theme-primary"
  class:list={{
    "my-1 py-1 px-3 rounded-2xl": withLetter,
    "my-0.5 px-2 rounded-sm mx-1": !withLetter,
  }}
>
  {withLetter && <strong>Zona: </strong>}
  {name}
</p>
