---
import Button from "./Button.astro";
---

<div data-progress class="flex justify-center items-center w-fit h-fit">
  <svg width="78" height="78" viewBox="0 0 78 78" class="circular-progress">
    <circle class="bg"></circle>
    <circle class="fg"></circle>
  </svg>
</div>

<script>
  // const progress = document.querySelector("[data-progress]") as HTMLDivElement;
  // const svg = progress.querySelector("svg");
  // const [primary, secundary] = progress.querySelectorAll("button");
  // primary.addEventListener("click", () => {
  //   const currentProgress = svg?.style.getPropertyValue("--progress");
  //   svg?.style.setProperty("--progress", `${Number(currentProgress) + 10}`);
  // });
  // secundary.addEventListener("click", () => {
  //   const currentProgress = svg?.style.getPropertyValue("--progress");
  //   svg?.style.setProperty("--progress", `${Number(currentProgress) - 10}`);
  // });
</script>

<style>
  .circular-progress {
    --progress: 20;
    --size: 78px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 14px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
    animation: progress-animation 5s linear 0s 1 forwards;
  }

  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }

  .circular-progress circle.bg {
    stroke: var(--color-purple-light-text);
  }

  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: var(--color-theme-primary);
  }

  @property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  /* @keyframes progress-animation {
    from {
      --progress: 0;
    }
    to {
      --progress: 100;
    }
  } */
</style>
