---
import CircleProgress from "./CircleProgress.astro";
---

<div class="w-full flex gap-6 items-center justify-center">
  <CircleProgress />
  <div class="text-theme-primary">
    <p class="text-3xl font-extrabold">¡Sigue Así!</p>
    <span>1/6 ejercicios completado</span>
  </div>
</div>
