---
import CircleProgress from "./CircleProgress.astro";

interface Props {
  totalExercises: number;
  id: string;
}
const { totalExercises, id } = Astro.props;
---

<div class="w-full flex gap-6 items-center justify-center">
  <CircleProgress id={id} total={totalExercises} />
  <div class="text-theme-primary">
    <p class="text-3xl font-extrabold">¡Sigue Así!</p>
    <span
      ><span id={`counter`}>0</span>/{totalExercises} ejercicios completado</span
    >
  </div>
</div>
