---
import { Image } from "astro:assets";

import heroImage from "@assets/header/hero.png";
import rutinas from "@assets/routines_text.svg";
---

<div
  class="bg-home-gradient min-h-[100dvh] w-full overflow-hidden sm:w-8/12 sm:rounded-md md:w-6/12 lg:w-5/12 xl:w-5/12 shadow-2xl"
>
  <div class="relative flex items-center justify-center">
    <img
      src={heroImage.src}
      alt="image hero planet fitness"
      class="w-full object-cover h-auto"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-theme-primary/100 via-theme-primary/50 to-theme-purple-medium/30 w-full"
    >
      <div
        class="absolute inset-0 flex flex-col items-center justify-end text-white text-center pb-4 gap-5"
      >
        <img
          src="/logo_white_hor.png"
          class="mb-2 w-96 object-cover mask-cover"
          data-image-component="true"
          alt="logo plannet fitness"
          decoding="async"
        />
        <img src={rutinas.src} alt="Rutinas" />
      </div>
    </div>
    <div
      class="hero-top-fade pointer-events-none absolute inset-x-0 top-0 h-28"
      aria-hidden="true"
    ></div>
  </div>
  <slot> Content Slot </slot>
</div>
