---
import { Image } from "astro:assets";

import heroImage from "@assets/header/hero.png";
import logo from "@assets/logo.webp";
import rutinas from "@assets/routines_text.svg";
---

<div class="w-full sm:w-10/12 md:w-5/12 lg:w-2/6 xl:w-2/6 shadow-2xl rounded-md">
  <div class="relative flex items-center justify-center">
    <Image
      src={heroImage}
      alt="image hero"
      class="w-full object-cover h-auto"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-theme-primary/100 via-theme-primary/50 to-theme-purple-medium/30 w-full"
    >
      <div
        class="absolute inset-0 flex flex-col items-center justify-end text-white text-center pb-4 gap-5"
      >
        <img src="/logo.webp" class="w-24 mb-2" data-image-component="true" alt="logo plannet fitness" width="1500" height="1786" loading="lazy" decoding="async">
        <Image src={rutinas} alt="Rutinas" />
      </div>
    </div>
  </div>
  <slot> Content Slot </slot>
</div>
