---
import "@styles/global.css";
import PreventConsoleProd from "src/utils/PreventConsoleProd.astro";
import { ClientRouter } from "astro:transitions";
import ModalFeedback from "@components/feedback/ModalFeedback.astro";
interface Props {
	title: string;
	themeColor?: string;
}

const { title, themeColor = "#9600FA" } = Astro.props;
const buildDate = new Date().getTime();
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			property="og:title"
			content="Planet Fitness | Rutinas de Entrenamiento Personalizadas"
		/>
		<meta
			property="og:description"
			content="Explora rutinas de entrenamiento según tu objetivo y nivel. Diseñado para usuarios de Planet Fitness que buscan salud, músculo o quema de grasa."
		/>
		<meta property="og:url" content="https://routines.planet-fitness.com.mx" />
		<meta property="og:type" content="website" />
		<meta name="theme-color" content={themeColor} />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<meta
			name="keywords"
			content="planet fitness, rutinas de ejercicio, entrenamiento personalizado, gimnasio, salud, fitness, ganar músculo, quemar grasa, rutinas por nivel, ejercicios en video, plataforma para gimnasios"
		/>
		<meta property="og:image" content="/images/social-banner.jpg" />
		<title>{title} | PF - Rutinas</title>
	</head>
	<body
		class="bg-gradient-purple flex justify-center min-h-[100dvh] overscroll-none"
	>
		<slot />
	</body>
</html>
<ModalFeedback />
<PreventConsoleProd />
<ClientRouter />

<script define:vars={{ buildDate }}>
	console.log(`c?d¿{${buildDate}}`);
	console.log(
		"%cDesarrollado y mantenido por: SITELSEG | A&D | FPT",
		"color: blue; font-size: 20px;",
	);
</script>
